<main>
  <section class="sign_up">
    <h2>Sign Up As A Merchant</h2>

    <p>
      Want to be one of our merchants? It's as easy as logging in!
    </p>

    <p>
      Log in with your Github account to get started building your shop! 
    </p>

    <a href=<%= github_login_path %> class="btn btn-primary"><i class="fab fa-github"></i>  Login with Github</a>
  </section>
</main>