<section class="show_page">
  <h2 class="show_page__header">
    All Merchants
  </h2>

  <div class="show_page__tiles">
    <% @users.each do |user| %>
      <a href=<%= user_path(user.id) %> class="merchant_tile">
        <%= user.username %>
      </a>
    <% end %>
  </div>
</section>