/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

$green: #428625;
$lightgreen: #68a418;
$highlight_lightgreen: #5da22c;
$midgreen: #428625;
$darkgreen: #2e5e1a;
$verydarkgreen: #174326;
$brightgreen: #b7f702;
$palegreen: #c8eaaf;
$whitegreen: #d6efc3;


.app_header {
  background-image: url(https://lh3.googleusercontent.com/i8VrQ6W2Gk-S8TvGyngqNVJMmoVRGqUljMHYqXyzUQC1hFmeey1eqVK3rE5WjvHrsyHROEnQaoLX67gP7G5NMRmsx1orzqR8fZmGv2LFrNeXqgRNlQYaZnLSKP2ccOaXDWpFJugmRA=w2400);
  padding: 2.5rem;
}

.app_header__title {
  color: #ACDF87;
  font-weight: bold;
  margin-bottom: 2rem;
}

.top_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user_nav {
  margin-left: auto;
}


.page_nav a {
  color: white;
}

.page_nav .btn-primary {
  background-color: $lightgreen;
  border-color: $green;
}

.page_nav .btn-primary:hover {
  background-color: $green;
}

.btn-light {
  background-color: $palegreen;
  border-color: $whitegreen;
}

.btn-light:hover {
  background-color: $lightgreen;
}

.shopping-cart:hover {
  background-color: $highlight_lightgreen;
}

.github-login {
  color: $verydarkgreen;
}

.fa-github {
  color: $verydarkgreen;
}

.fa-shopping-cart {
  color: $midgreen;
}

.btn-light:hover, .btn-light:hover .fa-shopping-cart {
  color: $darkgreen;
  color: $brightgreen;
}