// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order_data {
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.order-checkout-button {
  margin-bottom: 2%;
  margin-left: 35%;
}

.order-num {
  margin-left: 10%;
}
