// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #428625;
$lightgreen: #68a418;
$darkgreen: #2e5e1a;
$verydarkgreen: #174326;
$brightgreen: #b7f702;
$midgreen: #428625;

.product_image_show {
  width: 200px;
  height: 200px;
  margin-bottom: 10%;
  margin-left: 5%;
  border-radius: 20%;
  opacity: 0.9;
}

.show_page_product {
  margin-left: 1%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.show_page__header {
  border: 2px solid #2e5e1a;
}

.submit-button {
  margin-left: 4%;
}

.product_data {
  margin-left: 5%;
}

.index_page_product-container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
  // border: 2px solid #431c5d;
}

a {
  text-decoration: none;
  color: $darkgreen;
}

a:hover {
  text-decoration: none;
  color: $lightgreen;
}

.product_image {
  width: 300px;
  height: 300px;
  border-radius: 20%;
  margin-left: 5%;
  opacity: 0.9;
}

.product_text {
  // margin-left: 5%;
  margin-bottom: 10%;
  text-align: center;
}
