// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #428625;
$lightgreen: #68a418;
$highlight_lightgreen: #5da22c;
$midgreen: #428625;
$darkgreen: #2e5e1a;
$verydarkgreen: #174326;
$brightgreen: #b7f702;
$palegreen: #c8eaaf;
$whitegreen: #d6efc3;

caption {
  display: none;
}

.show_page {
  margin-top: 3rem;
}

.show_page__header {
  text-align: center;
}

.no_products_error {
  text-align: center;
  padding: 4rem;
}

.show_page__tiles {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  margin-top: 3rem;
}

.merchant_tile {
  padding: 3rem;
  text-align: center;
  background-color: $lightgreen;
  font-size: 1.5em;
  color: white;
}

.merchant_tile:hover {
  background-color: $brightgreen;
  color: $verydarkgreen;
  font-weight: bold;
  text-decoration: none;
}

.merchant_product_tile {
  text-align: center;
  position: relative;
}

.merchant_product_tile__img {
  width: 100%;
  height: auto;
  opacity: 0.8;
}

// overlap positioning from https://www.w3schools.com/css/css_positioning.asp
.merchant_product_tile__data {
  background-color: rgba(66,134,37,0.9);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.merchant_product_tile__title a {
  color: $brightgreen;
}

.merchant_product_tile__title a:hover {
  color: $verydarkgreen;
  text-decoration: none;
}

.show_page__merchant {
  color: $darkgreen;
}

.show_page__merchant:hover {
  color: $brightgreen;
  text-decoration: none;
}


// DASHBOARD

.line-break {
  border-top: 2px solid $green;
  margin-bottom: 0.5rem;
}

.dashboard {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

.dashboard__header {
  display: flex;
  flex-flow: column wrap;
}

.dashboard__header ul {
  list-style: none;
  font-style: italic;
}

.dashboard__header_title {
  color: $darkgreen;
}

.dashboard_options {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
}

.dashboard_options__account_option, .dashboard_options__account_option a {
  color: $lightgreen;
}

.dashboard_options__account_option + .dashboard_options__account_option::before {
  content: "|";
}

.dashboard_options__account_option a:hover {
  text-decoration: none;
  font-weight: bold;
}

.dashboard_options > *:last-child {
  margin-left: auto;
}

.btn-primary.dropdown-toggle {
  border-color: $green;

  .fa-angle-down {
    display: none;
  }
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: $darkgreen;
  border-color: $verydarkgreen;

  // toggle between carets
  .fa-angle-down {
    display: inline;
  }

  .fa-angle-left {
    display: none;
  }
}

.dropdown-menu {
  background-color: $palegreen;
}

.dropdown-item:hover {
  color: white;
  background-color: $lightgreen;
}

// dont' show bootstrap's default caret
.btn-primary.dropdown-toggle::after {
  display: none;
}

.dashboard__sections_nav.breadcrumb {
  border-radius: 0;
  background-color: rgba(214,239,195,0.6);
}

.breadcrumb-item {
  color: $midgreen;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "|";
  color: $midgreen;
}

.breadcrumb-item:hover {
  color: $midgreen;
  text-decoration: none;
  font-weight: bold;
}

.breadcrumb-item:hover::before {
  font-weight: normal;
}

.badge-primary {
  background-color: $highlight_lightgreen;
}