<div>
  <%= form_with model: @review, class: "ord-input" do |form| %>
    <div>
      <div class="dropdown">
        <label>Rating</label>
        <%= form.number_field :rating, in: 1..5 %>
      </div>
      <div class="form-group">
        <label>Comment</label>
        <%= form.text_field :comment, class:"form-control"%>
      </div>
      <div class="form-group">
        <%= form.submit "Submit", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>